# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/

# hidden files created by Windows
Thumbs.db
desktop.ini

# the composer package lock file and install directory
/composer.lock
/vendor